<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>complaintsystem</display-name>

	<!-- we are telling the application to create the Servlet of type DispatcherServlet 
		needed to redirect the urls -->
	<servlet>
		<servlet-name>SpringMVCServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup> <!-- 1 == true -> as soon as our tomcat applicaction starts up it will automatically load this 
			servlet -->
	</servlet>

	<!-- what urls will be handled by witch servlet -->
	<servlet-mapping>
		<servlet-name>SpringMVCServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>